.home-page {
    .card-title{
        margin-bottom:0;
    }

    .movie-genre{
        margin-bottom: 8px;
        font-weight: bold;
    }
}


.navbar{
    min-height: 70px;

    > li > a {
        font-size: 19px;
        font-weight: bold;
    }
}

body {
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding-bottom: 100px; //height of the footer
    box-sizing: border-box;
  }
  
  footer {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
  }